@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

img {
  width: 280px;
  margin-left: 30px;
}

.header {
  display: flex;
  flex-wrap: nowrap; /* Prevent items from wrapping */
}

.nav-tab {
  display: inline-block;
  padding: 10px;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Figtree', sans-serif;
}

.active-tab {
  border-color: rgba(255, 238, 87, 1);
}

.tab-two {
  border-color: rgba(206, 183, 180, 1);
}

.tab-three {
  border-color: rgba(251, 201, 201, 1);
}

.tab-four {
  border-color: rgba(220, 183, 242, 1);
}

.tab-five {
  border-color: rgba(242, 219, 175, 1);
}

.banana {
  font-family: 'Figtree';
}

.coconut {
  font-family: 'Figtree';
}



